<h2><b><P ALIGN=CENTER>PROJECT DETAILS</p></b></h2>
<form>
  <div class="form-group">
    <label><b>Project name</b></label>

    <input type="text" size = "36" class="form-control" >
  </div>
  <br>
   <div class="form-group">
    <label for="exampleFormControlFile1"><b>Project Thumbnail</b></label>

    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
    <br>
    <div class="form-group">
    <label for="formGroupExampleInput"><b>Author</b></label>
    <input type="text" size = "25" class="form-control" id="formGroupExampleInput" placeholder="Name/Team name">
  </div>
  <br>
    <div class="form-group">
    <label for="formGroupExampleInput"><b>Github/Bitbucket link</b></label>
    <input type="text" size = "50" class="form-control" id="formGroupExampleInput" placeholder="#">
  </div>
  <br>
    <div class="form-group">
    <label for="formGroupExampleInput"><b>Technologies used</b></label>
    <input type="text" size = "30" class="form-control" id="formGroupExampleInput" placeholder="HTML/JS/ANGULAR...">

  </div>
  <br>
  <pre>
  <button type="submit" class="btn btn-primary">Submit</button>
   </pre>
</form>
